
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 50px;
    height: 120px;
    background-color: white;
    

  }
  .content .pokemon-name{
    font-size: 0.8em;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .pokemon-img {
    width: 70px;
    height: 70px;
    /* margin-bottom: 10px; */
  }
  
  .content1{
    font-size: 0.7em;
  }
  
  /* .pokemon-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
  } */
  
  .pokemon-num {
    color: #666;
    font-size: 1em;
  }
  
  /* Card List Styles */
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 3px; */
  }
  
  /* App Styles */
  .app {
    text-align: center;
  }
  
  .app h1 {
    margin: 20px 0;
    font-size: 2em;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
  }
  